# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/gold_corpus/ukr_prob
# Log files
*.log

# Intellij products workspace specific files
.idea/

# Local database
*.sqlite
*.sqlite3

# Images
*.jpg
*.png

/Diploma/wsgi.py
/gold_corpus/word_forms


/test.py
/test_input
/gold_corpus/ukr_only_words_lower.txt
/out.json

# Corpus files
/gold_corpus/word_forms_redis.py
/gold_corpus/word_forms_preparation.py
/utils/azaza.py
files/