# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# Intellij products workspace specific files
.idea/

# Local database
*.sqlite
*.sqlite3

# Images
*.jpg
*.png

# wsgi file
/kenlm
CourierApp/wsgi.py

/test.py
/test_input
/ukr_only_words_lower.txt
/core/test1.py
/calc_prob.py

# Corpus files
files/