<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>
    <script src="{% static 'js/general.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    {% block head %}
    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>