{% extends "main.html" %}

{% block head %}
    {% load staticfiles %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static 'js/word-cloud.js' %}"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block content %}
<label>Видання:
    <select id="site-select">
        <option value="">Всі видання</option>
    </select>
</label>
<label>
    Дата:
    <input type="text" id="datepicker" size="30">
</label>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8" id="word-cloud-container"></div>
    </div>
</div>
<div id="articles-container"></div>
{% endblock %}