{% extends "main.html" %}

{% block head %}
    {% load staticfiles %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static 'js/word-cloud.js' %}"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block title %}Хмара слів{% endblock %}

{% block content %}
    {% include 'sidebar.html' with active_tab='wordcloud' %}
    <p>
    <div class="text-center">
        <div class="form-inline">
            <label>Видання:</label>
            <select class="form-control" id="site-select">
                <option value="">Всі видання</option>
            </select>
            <label> Дата:</label>
            <input class="form-control" type="text" id="datepicker" size="30">
        </div>
    </div>
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2" id="word-cloud-container"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="articles-container" class="col-md-offset-2 col-lg-offset-3">
                <h3 disabled="disabled">Статті по темі:</h3>
            </div>
        </div>
    </div>
{% endblock %}