{% extends 'main.html' %}

{% block head %}
    {% load staticfiles %}
    <script src="{% static 'js/word-count-chart.js' %}"></script>
    <script src="{% static 'js/lib/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery.flot.time.min.js' %}"></script>
{% endblock %}

{% block title %}Графіки зміни популярності трендів{% endblock %}

{% block content %}
    {% include "sidebar.html" with active_tab='chart' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2" id="word-count-chart"></div>
        </div>
    </div>
    <div class="control-panel text-center">
        <p>
        <div class="control form-inline">
            <label>Видання:</label>
            <select class="site-select form-control">
                <option value="">Всі видання</option>
            </select>

            <label>Слово:</label>
            <input type="text" class="word-input form-control">

            <button type="button" class="btn btn-warning badge remove-chart-control" style="display: none;"><i
                    class="glyphicon glyphicon-remove"></i></button>

            <br>
        </div>
        </p>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-info" id="add-chart-control"><i class="glyphicon glyphicon-plus"></i>
            Додати слово
        </button>
    </div>
{% endblock %}