{% extends 'main.html' %}

{% block head %}
    {% load staticfiles %}
    <script src="{% static 'js/word-count-chart.js' %}"></script>
    <script src="{% static 'js/lib/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery.flot.time.min.js' %}"></script>
{% endblock %}

{% block title %}Графік зміни популярності трендів{% endblock %}

{% block content %}
    {% include "sidebar.html" with active_tab='chart' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2" id="word-count-chart"></div>
        </div>
    </div>
    <div class="text-center" style="padding-bottom: 10px">
        <div class="form-inline">
            <label> Від:</label>
            <input class="form-control" type="text" id="datepicker-from">
            <label> &nbsp;До:</label>
            <input class="form-control" type="text" id="datepicker-to">
        </div>
    </div>
    <div class="text-center" id="control-panel">
        <div class="control form-inline" style="padding-bottom: 10px;">
            <label>Видання:</label>
            <select class="site-select form-control" data-previous="всі видання">
                <option data-name="" value="">Всі видання</option>
                {% for site in sites %}
                    <option data-name="{{ site.name }}" value="{{ site.id }}">{{ site.name }}</option>
                {% endfor %}
            </select>
            <label>Слово:</label>
            <input type="text" class="word-input form-control" data-toggle="tooltip" data-previous="">
            <button type="button" class="btn btn-success plot-chart-btn">Побудувати</button>
            <button type="button" class="btn btn-danger remove-chart-btn" style="display: none;">Видалити</button>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-info" id="add-chart-control"><i class="glyphicon glyphicon-plus"></i>
            Додати слово
        </button>
    </div>
{% endblock %}