#word-cloud-container, #word-count-graph-container {
    position: relative;
}

.word, .new-word {
    position: absolute;
    cursor: pointer;
}

#datepicker, #site-select, #articles {
    position: relative;
}