#word-cloud-container, #word-count-graph-container {
    position: relative;
}

.word, .new-word {
    position: absolute;
    cursor: pointer;
}

#datepicker, #site-select, #articles {
    position: relative;
}

#articles-container {
    display: none;
}

.modal-footer {
    margin-top: 50px;
}

#word-cloud-container {
    margin-bottom: 20px;
}